<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="css/index.css" rel="stylesheet">

    <title>Menu</title>
  </head>
  <body>
    <main class="form-signin w-auto m-auto">
      <h1 class="h3 mb-3 fw-normal">Hola <%= session[:user]['class'] %>, <%= @user.get(:nombre) %></h1>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Registrar Sede</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Registrar Edificio</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Registrar Piso</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          <form method="post" action="/registrarSede">
            <h3 class="h3 mb-3 fw-normal">Registrar Sede</h3>

            <div class="form-floating">
              <input type="input" name="sede[name]" class="form-control" id="floatingInput" placeholder="Nombre">
              <label for="floatingInput">Nombre</label>
            </div>

            <div class="form-floating">
              <input type="input" name="sede[street]" class="form-control" id="floatingInput" placeholder="Calle y número">
              <label for="floatingInput">Calle</label>
            </div>
            <div class="form-floating">
              <input type="input" name="sede[zip]" class="form-control" id="floatingInput" placeholder="Codigo Postal">
              <label for="floatingInput">Codigo Postal</label>
            </div>
            <div class="form-floating">
              <input type="input" name="sede[city]" class="form-control" id="floatingInput" placeholder="Ciudad">
              <label for="floatingInput">Ciudad</label>
            </div>
            <div class="form-floating">
              <input type="input" name="sede[state]" class="form-control" id="floatingInput" placeholder="Estado">
              <label for="floatingInput">Estado</label>
            </div>
            <div class="form-floating">
              <input type="input" name="sede[country]" class="form-control" id="floatingInput" placeholder="Pais">
              <label for="floatingInput">Pais</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar Sede</button>
          </form>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  
          <form method="post" action="/registrarEdificio">
            <h3 class="h3 mb-3 fw-normal">Registrar Edificio</h3>

            <div class="form-floating">
              <input type="input" name="edificio[name]" class="form-control" id="floatingInput" placeholder="Nombre">
              <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating">
              <input type="input" name="edificio[sede]" class="form-control" id="floatingInput" placeholder="Sede">
              <label for="floatingInput">Sede</label>
            </div>
            <div class="form-floating input-group">
              <div class="input-group-prepend">
                <label for="floatingSelect" class="input-group-text">Posicion</label>
              </div>
              <select name="edificio[posicion]" class="form-control" id="floatingSelect">
                <option selected>Escoge...</option>
                <option value="norte">Norte</option>
                <option value="sur">Sur</option>
                <option value="este">Este</option>
                <option value="oeste">Oeste</option>
              </select>
            </div>
            <div class="form-floating">
              <input type="input" name="edificio[tipo]" class="form-control" id="floatingInput" placeholder="Tipo">
              <label for="floatingInput">Tipo</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar Edificio</button>
          </form>

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

          <form method="post" action="/registrarPiso">
            <h3 class="h3 mb-3 fw-normal">Registrar Piso</h3>

            <div class="form-floating">
              <input type="input" name="piso[numero]" class="form-control" id="floatingInput" placeholder="Numero">
              <label for="floatingInput">Numero</label>
            </div>
            <div class="form-floating">
              <input type="input" name="piso[sede]" class="form-control" id="floatingInput" placeholder="Sede">
              <label for="floatingInput">Sede</label>
            </div>
            <div class="form-floating">
              <input type="input" name="piso[edificio]" class="form-control" id="floatingInput" placeholder="Edificio">
              <label for="floatingInput">Edificio</label>
            </div>
            <div class="form-floating input-group">
              <div class="input-group-prepend">
                <label for="floatingSelect" class="input-group-text">Categoria</label>
              </div>
              <select name="piso[categoria]" class="form-control" id="floatingSelect">
                <option selected>Escoge...</option>
                <option value="administrativo">Administrativo</option>
                <option value="economico">Economico</option>
                <option value="lujo">Lujo</option>
                <option value="presidencial">Presidencial</option>
              </select>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar Piso</button>
          </form>

        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
